@font-face {
  font-family: 'OldLondon';
  src:  url('../assets/fonts/OldLondon.ttf') format('truetype'),
        url('../assets/fonts/OldLondonAlternate.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Rye&family=UnifrakturCook:wght@700&display=swap');